* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(222, 222, 219);
}

.validator-box {
    width: 400px;
    box-sizing: border-box;
    padding: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 20px;
    box-shadow: 7px 8px 11px 1px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    font-size: 35px;
    color: rgb(24, 24, 24);
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    position: relative;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 16px;
    font-size: 18px;
    border-color: rgb(28, 28, 28);
    outline: none;

}

/* Style for the label acting as placeholder */
.placeholder {
    position: absolute;
    top: 13px;
    left: 16px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(73, 71, 71);
    pointer-events: none;
    /* Prevents interaction */
    transition: all 0.2s ease-in-out;
    /* Smooth transition */
}

/* Move label up when input is focused or has a value */
input:focus+.placeholder,
input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 18px;
    background-color: white;
    /* Optional size adjustment */
    color: rgb(173, 102, 241);
}

/* Optional: Reset the border color when input is focused */
input:focus {
    border-color: rgb(173, 102, 241);
}


@keyframes slideUp {
    0% {
        top: 13px;
    }

    100% {
        top: -11px;
    }
}

.img {
    position: absolute;
    right: 15px;
    top: 8px;
    height: 40px;
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}

.progress {
    height: 10px;
    border-radius: 20px;
    background-color: rgb(180, 180, 180);
}

.progress-bar {
    width: 0%;
    height: 100%;
    border-radius: 20px;
}

.validators {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(37, 37, 37);
}

.cancel,
.check {
    height: 32px;
    width: 32px;
    object-fit: cover;
}